.wrapper {
  background: rgba(227, 235, 253, 0.5);
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.container {
  max-width: 1140px;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  padding-top: 60px;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.category {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 81px;
}

.category img {
  margin-bottom: 31px;
}

@media (max-width: 1170px) {
  .inner {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .category {
    padding: 25px 40px;
  }
}
