.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.container {
  max-width: 1140px;
}

.arrivals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 60px;
}

.arrival {
  padding: 31px 21px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 264px;
}

.container h2 {
  font-size: 2rem;
  letter-spacing: 0.01em;
  margin-bottom: 40px;
  white-space: nowrap;
  padding: 0 16px;
}

.arrivalImage {
  margin-bottom: 30px;
}

.stamp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 150%;
  color: #9a9ea6;
}

.subHeader h3 {
  font-size: 0.875rem;
  line-height: 150%;
  margin-bottom: 12px;
}

.description {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #9a9ea6;
  margin-bottom: 21px;
}

.price {
  color: #4475f2;
  margin-bottom: 15px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 15px;
}

.form input {
  display: flex;
  padding: 9px 10px;
  max-width: 128px;
}

.form a {
  padding: 9px 16px;
  background: #4475f2;
  border-radius: 4px;
  color: #ffffff;
}

.stock {
  display: flex;
  justify-content: center;
}

.stock img {
  margin-right: 10px;
}

.stock span {
  font-weight: 500;
  font-size: 0.75rem;
  color: #9a9ea6;
}

.seeAll {
  padding: 21px 20px;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.015em;
  background: #4475f2;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  max-width: 15.2%;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .seeAll {
    max-width: 25%;
  }
}
@media (max-width: 769px) {
  .seeAll {
    max-width: 35%;
  }
}
@media (max-width: 481px) {
  .seeAll {
    max-width: 45%;
  }
}

@media (max-width: 420px) {
  .container h2 {
    font-size: 1.5rem;
  }
}
